/* REMOVING DEFAULT BUTTON STYLE */
button.no-browser-style {
    background-color: transparent;
    padding: initial;
    line-height: normal;
    outline: none;
    border: none;
}

// BTN MAIN
.st-btn {
    display: inline-block;
    background-color: #fff;
    color: #333;
    border: 1px solid #000;
    padding: 9.5px 15px 10px;
    text-decoration: none;
    line-height: normal;
    outline: none;
    cursor: pointer;
    line-height: normal;
    @include transition;

    &:hover,
    &.active {
        background-color: #000;
        color: #fff;
    }
    &:active {
        background-color: #000;
        color: #fff;
    }

    // min width
    &:not(.no-min-width) {
        min-width: 140px;
    }

    // btn primary
    &.st-btn-primary {
        background-color: $primary-color;
        color: #fff;
        border-color: $primary-color;
        &:hover,
        &.active {
            background-color: darken($color: $primary-color, $amount: 3);
        }

        &:active {
            background-color: darken($color: $primary-color, $amount: 5);
        }
    }

    // btn secondary
    &.st-btn-secondary {
        background-color: $secondary-color;
        color: #fff;
        border-color: $secondary-color;
        &:hover,
        &.active {
            background-color: darken($color: $secondary-color, $amount: 3);
            color: #fff;
        }

        &:active {
            background-color: darken($color: $secondary-color, $amount: 5);
            color: #fff;
        }
    }

    // btn disabled
    &.disabled {
        pointer-events: none !important;
        opacity: 0.9;
    }
}
