// FORM VARIABLES
$fieldsHeight: 35px;
$fieldsHeightAboveSM: 40px;

$defaultInputBorderColor: #cccccc;
$placeholderColor: #8a8a8a;

/* FORM FIELDS STYLES */
.st-form {
    input:not([type="radio"]):not([type="checkbox"]):not(.select2-search__field),
    select,
    textarea {
        border-radius: $buttons__border-radius;
        border-color: $defaultInputBorderColor;
        padding: 5px 15px;
        color: $text__dark-color;
        font-size: 14px;
        @include transition;

        &::placeholder {
            /* CHROME, FIREFOX, OPERA, SAFARI 10.1+ */
            color: $placeholderColor;
            opacity: 1;
            /* FIREFOX */
        }

        &:-ms-input-placeholder {
            /* INTERNET EXPLORER 10-11 */
            color: $placeholderColor;
        }

        &::-ms-input-placeholder {
            /* MICROSOFT EDGE */
            color: $placeholderColor;
        }

        &:focus {
            border-color: $primary-color;
            @include box-shadow(0, 0, 1px, 1px, $primary-color !important);
        }
    }

    // NO BOX SHADOW
    &.no-shadow {
        input:not([type="radio"]):not([type="checkbox"]):not(.select2-search__field),
        select,
        textarea {
            &:focus {
                box-shadow: none !important;
            }
        }
    }

    /* FORM HEIGHT */
    input:not([type="radio"]):not([type="checkbox"]):not(.select2-search__field),
    select {
        height: $fieldsHeight;
        @include min-width($sm-min) {
            height: $fieldsHeightAboveSM;
        }
    }

    /* SELECT NO ICON */
    select:not([multiple]) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand {
            display: none;
        }
    }
    /* SELECT BG */
    select:not([multiple]):not(.no-select-icon) {
        background-image: url("../../../public/images/icons/select-icon.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 5px) center;
        padding-right: 30px !important;
    }

    /* INLINE FORM FIELDS */
    &.lt,
    &.rt {
        width: 100%;
    }

    @include min_width($md-min) {
        &.lt,
        &.rt {
            width: 50%;
        }

        &.lt {
            padding-right: 7.5px;
        }

        &.rt {
            padding-left: 7.5px;
        }
    }

    /* ROUNDED FORM FIELDS INPUT AND SELECT ONLY */
    &.st-form-rounded {
        input:not([type="radio"]):not([type="checkbox"]),
        select {
            border-radius: $fieldsHeight;
            @include min-width($sm-min) {
                border-radius: $fieldsHeightAboveSM;
            }
        }
    }
    /* FORM FIELDS WITH ICON */
    &.st-form-with-icon-left,
    &.st-form-with-icon-right {
        input:not([type="radio"]):not([type="checkbox"]),
        select,
        textarea {
        }
        > .icon {
            top: 50%;
            @include transform_translatey(-50%);
            font-size: 20px;
            color: $text__light-color;
            @include transition;

            &:hover {
                color: $text__dark-color;
            }
        }
    }
    /* FORM FIELDS WITH ICON ON THE LEFT */
    &.st-form-with-icon-left {
        input:not([type="radio"]):not([type="checkbox"]),
        select,
        textarea {
            padding-left: 35px;
        }
        > .icon {
            left: 10px;
        }
    }
    /* FORM FIELDS WITH ICON ON THE RIGHT */
    &.st-form-with-icon-right {
        input:not([type="radio"]):not([type="checkbox"]),
        select,
        textarea {
            padding-right: 35px;
        }
        > .icon {
            right: 10px;
        }
    }
}

// ST CHECKBOX
.st-checkbox {
    .box {
        height: 22px;
        width: 22px;
        border-color: #d3cfc8 !important;
        @include transition(0.2s);
        .icon {
            @include transition(0.2s);
            opacity: 0;
        }
    }
    &:active {
        .box {
            border-color: #000 !important;
        }
    }
    > input {
        &:checked {
            + {
                .box {
                    background-color: #000;
                    color: #fff;
                    .icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
