// FORM VARIABLES
$fieldsHeight: 35px;
$fieldsHeightAboveSM: 40px;

$defaultInputBorderColor: #cccccc;
$placeholderColor: #8a8a8a;

$bottomGap: 20px;

/* FORM FIELDS STYLES */
.st-form {
    input:not([type="radio"]):not([type="checkbox"]):not(.select2-search__field),
    select,
    textarea {
        border-radius: $buttons__border-radius;
        border-color: $defaultInputBorderColor;
        padding: 5px 15px;
        color: $text__dark-color;
        font-size: 14px;
        @include transition;

        &::placeholder {
            /* CHROME, FIREFOX, OPERA, SAFARI 10.1+ */
            color: $placeholderColor;
            opacity: 1;
            /* FIREFOX */
        }

        &:-ms-input-placeholder {
            /* INTERNET EXPLORER 10-11 */
            color: $placeholderColor;
        }

        &::-ms-input-placeholder {
            /* MICROSOFT EDGE */
            color: $placeholderColor;
        }

        &:focus {
            border-color: $primary-color;
            @include box-shadow(0, 0, 1px, 1px, $primary-color !important);
        }
    }

    // LABEL
    label {
        .required {
            color: $text__danger-color;
            position: relative;
            left: 3px;
        }
    }

    // NO BOX SHADOW
    &.no-shadow {
        input:not([type="radio"]):not([type="checkbox"]):not(.select2-search__field),
        select,
        textarea {
            &:focus {
                box-shadow: none !important;
            }
        }
    }

    /* FORM HEIGHT */
    input:not([type="radio"]):not([type="checkbox"]):not(.select2-search__field),
    select {
        height: $fieldsHeight;
        @include min-width($sm-min) {
            height: $fieldsHeightAboveSM;
        }
    }

    /* SELECT NO ICON */
    select:not([multiple]) {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &::-ms-expand {
            display: none;
        }
    }
    /* SELECT BG */
    select:not([multiple]):not(.no-select-icon) {
        background-image: url("../../../public/images/icons/select-icon.png");
        background-repeat: no-repeat;
        background-position: calc(100% - 5px) center;
        padding-right: 30px !important;
    }

    /* INLINE FORM FIELDS */
    &.lt,
    &.rt {
        width: 100%;
    }

    @include min_width($md-min) {
        &.lt,
        &.rt {
            width: 50%;
        }

        &.lt {
            padding-right: 7.5px;
        }

        &.rt {
            padding-left: 7.5px;
        }
    }

    /* ROUNDED FORM FIELDS INPUT AND SELECT ONLY */
    &.st-form-rounded {
        input:not([type="radio"]):not([type="checkbox"]),
        select {
            border-radius: $fieldsHeight;
            @include min-width($sm-min) {
                border-radius: $fieldsHeightAboveSM;
            }
        }
    }
    /* FORM FIELDS WITH ICON */
    &.st-form-with-icon-left,
    &.st-form-with-icon-right {
        input:not([type="radio"]):not([type="checkbox"]),
        select,
        textarea {
        }
        > .icon {
            top: 50%;
            @include transform_translatey(-50%);
            font-size: 20px;
            color: $text__light-color;
            @include transition;

            &:hover {
                color: $text__dark-color;
            }
        }
    }
    /* FORM FIELDS WITH ICON ON THE LEFT */
    &.st-form-with-icon-left {
        input:not([type="radio"]):not([type="checkbox"]),
        select,
        textarea {
            padding-left: 35px;
        }
        > .icon {
            left: 10px;
        }
    }
    /* FORM FIELDS WITH ICON ON THE RIGHT */
    &.st-form-with-icon-right {
        input:not([type="radio"]):not([type="checkbox"]),
        select,
        textarea {
            padding-right: 35px;
        }
        > .icon {
            right: 10px;
        }
    }

    &.has-msg {
        margin-bottom: 0;
        padding-bottom: $bottomGap;
        .st-form-msg {
            opacity: 1;
            visibility: visible;
        }
        &.msg-error {
            // on foucs
            input:not([type="radio"]):not([type="checkbox"]),
            select,
            textarea {
                // border-color: $bg__danger;
                // @include box-shadow(0, 0, 1px, 1px, $bg__danger !important);
                // color: $text__danger-color;
            }
            // icon
            .icon {
                color: $text__danger-color;
            }
            // msg
            .st-form-msg {
                p {
                    color: $text__danger-color;
                }
            }
        }
        // message success
        &.msg-success {
            // on foucs
            input:not([type="radio"]):not([type="checkbox"]),
            select,
            textarea {
                // border-color: $bg__success;
                // @include box-shadow(0, 0, 1px, 1px, $bg__success !important);
                // color: $text__success-color;
            }
            // icon
            .icon {
                color: $text__success-color;
            }
            // msg
            .st-form-msg {
                p {
                    color: $text__success-color;
                }
            }
        }
    }
}

// ST CHECKBOX
.st-checkbox {
    .box {
        height: 22px;
        width: 22px;
        border-color: #d3cfc8 !important;
        @include transition(0.2s);
        .icon {
            @include transition(0.2s);
            opacity: 0;
        }
    }
    &:active {
        .box {
            border-color: #000 !important;
        }
    }
    > input {
        &:checked {
            + {
                .box {
                    background-color: #000;
                    color: #fff;
                    .icon {
                        opacity: 1;
                    }
                }
            }
        }
    }
}

// ST RADIO
.st-radio {
    $heightWidth: 20px;
    .round {
        height: $heightWidth;
        width: $heightWidth;
        border-radius: 50%;
        border: 1px solid #666 !important;
        @include transition;
        line-height: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        &:after {
            content: "";
            height: $heightWidth - 5;
            width: $heightWidth - 5;
            border-radius: 50%;
            background-color: $text__dark-color;
            position: relative;
            left: 0.1px;
            @include transition;
            opacity: 0;
            visibility: hidden;
        }
    }

    .text {
        color: #666;
        padding-left: 10px;
        top: -1px;
    }

    > input:checked {
        + .round {
            border-color: $text__dark-color;
            &::after {
                opacity: 1;
                visibility: visible;
            }
        }
        ~ .text {
            color: $text__dark-color;
        }
    }
}

// st form rectangle
.st-form-rectangle {
    cursor: pointer;
    &:not(:last-child) {
        margin-right: 15px;
    }
    .rect {
        display: block;
        padding: 7px 15px;
        border: 2px solid #ddd;
    }

    >input {
        &:checked {
            + .rect {
                border-color: $primary-color;
            }
        }
    }
}
