/* MODALS RELATED CLASSES */
.st-modal {
    .modal-content {
        border-radius: 0;
        border: none !important;
        border-bottom: 3px solid $primary-color !important;
    }
    .modal-header {
        
    }
}
