// RESPONSIVE BREAKPOINTS
$sm-min: 576px;
$sm-max: 575px;

$md-min: 768px;
$md-max: 767px;

$lg-min: 992px;
$lg-max: 991px;

$xl-min: 1200px;
$xl-max: 1199px;

// COMMON COLORS
$primary-color: #fec500;
$secondary-color: #333;

// PROJECT BASED COLORS
$light-gray-color: #f4f4f4;
$light-gray-color2: #dee2e6;

// COMMON TEXT COLORS
$text__dark-color: #000;
$text__light-color: #333;

// BACKGROUNDS COLORS
$bg__light-gray: #eee;
$bg__footer-main: #f1f1f1;
// $bg__dark-color: #000;
// $bg__light-color: #000;

// RADIUS
$common-border-radius: 5px;

// INPUT
$input__border-radius: 5px;

// BUTTONS
$buttons__border-radius: 5px;