// IMPORTANT SCSS FILES
@import "/styles/components/variables";
@import "/styles/components/mixins";

// CART CSS
.cart-table {
    display: block;
}

.product-details {
    .img-sec {
        width: 80px;
    }
}

.cart-popup-loading {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba($color: #fff, $alpha: 0.5);
    color: $text__dark-color;
}
